@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

dt {
  font-size: $font-size-h2;
  margin-top: 10px;
}

dt:hover {
  background-color: #f9f9f9;
}

dd {
  color: $gray-light;
  font-size: $font-size-h6;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
